{% extends 'base.html' %}
{% load bootstrap3 %}
{% load tags %}

{% block content %}
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Προιόν</th>
      <th>Ποικιλία</th>
      <th>Παραγωγός</th>
      <th>Περιγραφή</th>
      <th>Ποσότητα</th>
      <th>Τιμή</th>
  </thead>
  <tbody>
    {% for item in cart.items.all %}
    <tr>
      <td>{{ item.product_stock.product.name }}</td>
      <td>{{ item.product_stock.variety }}</td>
      <th>{{ item.product_stock.producer.get_full_name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total_price|currency }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
