{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.email }}! <a href="{% url 'user-logout' %}">logout</a></p>
<p><a href="{% url 'product-add' %}">Add Product</p>
{% else %}
<a href="{% url 'user-register' %}">Sign Up</a>
<form action="{% url 'user-login' %}" method="post" class="form form-horizontal">
  {% csrf_token %}
  {% bootstrap_form login_form layout='horizontal' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
{% endif %}
{% endblock %}
