{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
<h2>CSA - Κοινωτικά υποστηριζόμενη γεωργία</h2>
<h3>Συνοπτικά</h3>
<p>Η Κοινοτικά Υποστηριζόμενη Γεωργία (Community Supported
  Agriculture – CSA) χαρακτηρίζεται ως «ένας συνεταιρισμός ανάμεσα σε
  αγρότες και καταναλωτές όπου, στην καλύτερη περίπτωση, οι ευθύνες και οι
  ανταμοιβές της γεωργίας μοιράζονται σε όλους». Πρόκειται για μία
  εναλλακτική κοινωνική πρόταση για τον τρόπο παραγωγής και διακίνησης των
  αγροτικών προϊόντων, κατά την οποία παραγωγοί και καταναλωτές αναπτύσσουν
  στενή συνεργασία με βάση την αμοιβαία εμπιστοσύνη.</p>

<p>Βασικό στοιχείο σε όλες τις μορφές της Κοινοτικά Υποστηριζόμενης
  Γεωργίας, είναι ο αυξημένος βαθμός συμμετοχής των καταναλωτών στις
  δραστηριότητες μιας γεωργικής εκμετάλλευσης. Επιπλέον, οι καταναλωτές,
  πολλές φορές, χρηματοδοτούν εξ’ αρχής τον προϋπολογισμό μιας γεωργικής
  εκμετάλλευσης για το σύνολο της παραγωγικής περιόδου, με σκοπό να
  προμηθεύονται γεωργικά προϊόντα σε τακτά χρονικά διαστήματα. Συχνά, τα
  καλλιεργούμενα προϊόντα και οι καλλιεργητικές μέθοδοι συναποφασίζονται σε
  συνελεύσεις, χτίζοντας έτσι μια ισχυρή σχέση μεταξύ καταναλωτή και
  παραγωγού.</p>

<p>Το σύστημα έχει πολλές παραλλαγές για το πώς ο γεωργικός προϋπολογισμός
  υποστηρίζεται από τους καταναλωτές και με ποιο τρόπο αυτοί στη συνέχεια
  παραλαμβάνουν τα τρόφιμα. Σε όλες τις περιπτώσεις πάντως οι καταναλωτές
  λαμβάνουν άμεσα, γεωργικά προϊόντα υψηλής ποιότητας (οργανικά/ βιολογικά /
  βιοδυναμικά) και οι γεωργοί διασφαλίζουν εξαρχής τους απαραίτητους πόρους τόσο
  για τις καλλιεργητικές τους δραστηριότητες, όσο και για τη διαβίωσή τους χωρίς
  να παρεμβάλλονται μεσάζοντες. Η CSA εστιάζει συνήθως σε ένα σύστημα εβδομαδιαίας
  διανομής λαχανικών, ενίοτε λουλουδιών, φρούτων και βοτάνων, αλλά ακόμα και
  γάλακτος ή προϊόντων κρέατος.</p>

<h3>Χαρακτηριστικά</h3>

<p>Μέσα από τις διάφορες εκφράσεις της ανά τον κόσμο, η Κοινοτικά Υποστηριζόμενη
  Γεωργία διακρίνεται για τα εξής χαρακτηριστικά της:</p>

<ul>
  <li>Την από κοινού διαμόρφωση παραγωγής & τιμής (εμφανής προϋπολογισμός της σαιζόν)</li>
  <li>Μία συμφωνία «μοιρασμένου κινδύνου και κέρδους»</li>
  <li>Τακτικές διανομές σε κεντρικά σημεία</li>
  <li>Την τακτική επαφή και συνεργασία μεταξύ παραγωγών και καταναλωτών</li>
  <li>Ποιοτικά τρόφιμα, παραγόμενα με οικολογικές μεθόδους</li>
  <li>Την τοπική κλίμακα (κοντινές αποστάσεις, τοπικά προϊόντα)</li>
  <li>Ελεγχόμενα μεγέθη (δίκαιο εμπόριο, στήριξη μικρών παραγωγών από μικρές ομάδες καταναλωτών)</li>
  <li>Ποικιλομορφία στους όρους λειτουργίας</li>
</ul>

<p>Με βάση στοιχεία της ΔΗΩ, υπάρχουν σήμερα γύρω στα 80 αγροκτήματα CSA στη
  Μ. Βρετανία και περίπου 1700 στις ΗΠΑ. Η εμπειρία από αυτά δείχνει ότι δεν
  υπάρχει ένα τυποποιημένο μοντέλο λειτουργίας, αλλά προκύπτει ως αποτέλεσμα των
  ιδιαίτερων τοπικών χαρακτηριστικών. Μερικά από τα μοντέλα CSA περιλαμβάνουν:</p>

<ul>
  <li>Αγροκτήματα που ανήκουν σε μια κοινότητα</li>
  <li>Αγροκτήματα από κοινού διαχείρισης</li>
  <li>Αγροκτήματα που ανήκουν σε αγρότη (-ες)</li>
</ul>

<p>Προς ένα δίκτυο Κοινοτικά Υποστηριζόμενης Γεωργίας
  Πιστεύοντας ότι το παράδειγμα αυτό μπορεί να αποτελέσει απαρχή για τη σταδιακή αντιμετώπιση των προβλημάτων της σύγχρονης γεωργίας και να βοηθήσει στην αφύπνιση της κοινωνίας, την ενίσχυση της απασχόλησης, αλλά και στη διατήρηση του πληθυσμού της υπαίθρου, στοχεύουμε στη δημιουργία ενός δικτύου υποστήριξης για τον τόπο μας, βασισμένου στην εθελοντική συμμετοχή. Σκοπός του δικτύου θα είναι η διευκόλυνση της επαφής καταναλωτών – παραγωγών και η υποστήριξη της δημιουργίας νέων CSA, όπου υπάρξει ενδιαφέρον.
  Εάν θα σας ενδιέφερε να συμμετάσχετε με οποιονδήποτε ρόλο σε αυτό το εγχείρημα, μπορείτε να επικοινωνήσετε μαζί μας στο csa@tolabaki.gr.</p>
{% endblock %}
