{% extends 'base.html' %}
{% load bootstrap3 %}
{% load tags %}

{% block content %}
  <h2>Λίστα Προϊόντων</h2>

  {% for product in products %}
    <div class="row">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Παραγωγός</th>
	    <th>Ποικιλία</th>
	    <th>Περιγραφή</th>
	    <th>Τιμή ανά {{ product.unit.name }}</th>
	</thead>
	<tbody>
	  {% for stock in product.stocks.all %}
	    <tr>
	      <td>{{ stock.producer.get_full_name }}</td>
	      <td>{{ stock.variety }}</td>
	      <td>{{ stock.description }}</td>
	      <td>{{ stock.price|currency }}</td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
